$nav-color: #0074D9;

nav > * {
  background-color: $nav-color;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  list-style: none;
  font-size: 1.5em;
}

nav > ul > li:hover {
  font-weight: bold;
}

.wrapper {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.select-styling {
  width: 50%;
  margin: 0 auto;
}