$nav-color: #1d4a6c;

nav > * {
  background-color: $nav-color;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  list-style: none;
  font-size: 1.5em;
}

nav > ul > li:hover {
  font-weight: bold;
  cursor: pointer;
}

.wrapper {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.select-container button {
  width: 100px;
  height: fit-content;
  align-self: center;
}
.select-styling {
  width: 30%;
  margin: 15px;
}