$nav-color: #1d4a6c;

nav > * {
  background-color: $nav-color;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  list-style: none;
  font-size: 1.5em;
}

nav > ul > li:hover {
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px black;
}

.wrapper {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90%;
  margin: 0 auto;
}

.select-container button {
  width: 100px;
  height: fit-content;
  align-self: center;
}

.select-styling {
  width: 30%;
  margin: 15px;
  align-self: center;

}

.sol-text-field {
  margin-right: 20px !important;
  align-self: center;
}

.slider-style {
  width: 500px !important;
  top: -25px;
  left: -25px;
  height: 0px !important;
}

.MuiSlider-valueLabel {
  height: 15px !important;
  width: 15px !important;
  background-color: lightblue;
}

button {
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
}

button:hover(not:disabled) {
  opacity: 90%;
}