.counter > .button {
    display: flex;
    background-color: #7f7f7f;
    width: fit-content;
    padding: 15px;
    border-radius: 30px;
    margin: 25px;
}

.counter > .button:hover {
    background-color: rgba(170, 170, 170);
}