$primary-color: lightblue;
$max-width: 1000px;
$margin-default: 25px;

.text-template {
    text-align: center;
    background-color: $primary-color;
    width: 80%;
    margin: 30px;
    border-radius: $margin-default;
}

.text-template h1 {
    text-shadow: 5px 5px darkblue;
    font-size: 5em;
    margin-top: 1em;
    transition: text-shadow 0.5s ease-in-out;
}

.text-template h1:hover {
    text-shadow: 3px 3px darkcyan;
    transition: text-shadow 0.5s ease-in-out;
}

.text-template > * {
    margin: $margin-default;
}

.text-container {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: justify;
}

img {
    max-width: $max-width;
    border-radius: 100px;
}

